.card {
    /* Your existing styles for cards */
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.2); /* Set a low-opacity background color */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    /* Add size properties to match the card image size */
    width: 100px; /* Adjust this width to fit your card image size */
    height: 150px; /* Adjust this height to fit your card image size */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    max-width: 115%;
    max-height: 115%;
  }
.card#deck {
    /* Set the size of the card back image */
    width: 100px; /* Adjust this width as per your desired size */
    height: 150px; /* Adjust this height as per your desired size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card#deck img {
    /* Set the image size to fit within the container */
    max-width: 155%;
    max-height: 180%;
}
