* {
    font-family: 'Josefin Sans', sans-serif;
  }


.overlay {
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the overlay using RGBA color */
    backdrop-filter: blur(5px); /* Apply a blur effect to the overlay */
    pointer-events: none; /* Allow clicks to pass through the overlay */
  }
  
  
  
  /* Main button styles */
  .menuButton {
    background-color: #FFD700; /* Golden color */
    color: #fff; /* White text color */
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Add spacing between the buttons */
    transition: transform 0.2s, box-shadow 0.2s; /* Add smooth transition effects */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    font-family: "Josefin Sans", Bold 700;
  }
  
  
  .menuButton:hover {
    transform: scale(1.12); /* Increase the size by 5% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
  }
  
  /* Position the menu container */
  .menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Display the buttons in one row */
  .menu {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
  }
  
  .logo {
    max-width: 2250px; /* Set the maximum width of your logo (increase the size) */
    max-height: 1250px; /* Set the maximum height of your logo (increase the size) */
    margin-bottom: 20px; /* Add spacing between the logo and the buttons */
    transition: transform 0.2s; /* Add a smooth transition effect for the transform property */
  }
  
  
  
  /* Position each button individually */
  #Play {
    top: 20px;
  }
  
  #howToPlayButton {
    top: 80px; /* Adjust the spacing between the buttons */
  }
  
  #rankingButton {
    top: 140px; /* Adjust the spacing between the buttons */
  }

   /* Adding a Popup massage -----------------------------------------------------------------------------------------*/
  
  /* All the contant inside this container will have this atributes */
  .popup-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;

  }

  .popup {
    width: 500px;
    height: 600px;
    background: #292929;
    border-radius: 30px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f7f7f7;
    visibility: hidden;
   /* transition: transform 0.4s;*/
    

  }

  /* Animation */
  @keyframes popupAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0.1);
      opacity: 0;
    }
    35% {
      transform: translate(-50%, -50%) scale(1.2);
      opacity: 1;
      
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  


  .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    animation: popupAnimation 2s forwards;

  }


  .popup img {
    width: 120px;
    margin-top: -50px;
    border-radius: 50%;
    
    animation: floatUpDown 2s ease-in-out infinite;
    
  }
  /* a keyframe for "tick.png" to float up and down */
  @keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust this value to control the float height */
    }
  }


  .popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    padding: 0;
    box-sizing: border-box;
   
  }

  .popup p {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
    padding: 0;
    box-sizing: border-box;
    
  }


  .popup ol {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0; /* Adjust the top and bottom margin */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
  }
  
  .popup ol li {
    margin-bottom: 15px; /* Add margin between list items */
  }

  .popup button {
    width: 30%;
    
    margin-top: 250px;
    padding: 10px 0;
    background: #f7d205;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);


  }